<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="MusalaURL" value="http://www.musala.com" />
		<add key="fromEmail" value="put-your-email" />
		<add key="passwordEmail" value="put-your-password" />
		<add key="toEmail" value="dikavjosa@gmail.com" />

		<add key="nameValue" value="Musala Test" />
		<add key="mobileValue" value="070123456" />
		<add key="subjectValue" value="QA subject" />
		<add key="messageValue" value="Hi, I'm here for a demo!" />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="xunit.core" publicKeyToken="8d05b1bb7a6fdb6c" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.4.1.0" newVersion="2.4.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="xunit.execution.desktop" publicKeyToken="8d05b1bb7a6fdb6c" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.4.1.0" newVersion="2.4.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>